/* Сброс */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Общий стиль */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #2a0845, #6441a5);
  color: #fff;
  padding: 40px 20px;
}

/* Обёртка */
.cv-container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  background-color: #1a1a2b;
}

/* Левая колонка */
.sidebar {
  background-color: #51078d;
  padding: 30px 20px;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #000000;
  margin: 0 auto 20px auto;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #d1caf8;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #ffffff;
}

.sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #d9b4ff;
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 4px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}

.sidebar li::before {
  content: "• ";
  color: #9947f7;
}

.sidebar p, a {
  font-size: 16px;
  color: #ffffff;
  word-break: break-word;
  margin-bottom: 8px;
}

a {
  color: #fff99f; /* мягкий желто-золотой */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #5b02c0; /* розовый при наведении */
  text-decoration: underline;
}

a:active {
  color: #d980fa;
  text-decoration: none;
}

.soft-skills {
  list-style: square;
  padding-left: 20px;
  font-size: 15px;
  line-height: 1.6;
  color: #eee;
}

.soft-skills li {
  margin-bottom: 6px;
  
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
  opacity: 0.8;
}

/* Правая часть */
.main-content {
  padding: 40px 30px;
  width: 65%;
}

.main-content .section {
  margin-bottom: 40px;
}

.main-content h2 {
  font-size: 22px;
  color: #ffeaa7;
  margin-bottom: 12px;
  border-left: 5px solid #ffeaa7;
  padding-left: 12px;
}

.main-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
  max-width: 100%;
}

.job {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.year {
  font-weight: bold;
  color: #d980fa;
  min-width: 60px;
  font-size: 16px;
  margin-top: 4px;
}

strong {
  font-size: 16px;
  color: #f8c291;
}

